#application {
  width: 40vw;
  margin: 0 auto;
  margin-top: 5vw;
}

button {
  height: 4rem;
  width: 10vw;
  margin: 0;
  padding: 0;
}

.row {
  height: 4rem;
  margin: 0;
  padding: 0;
}

#expression {
  height: 6rem;
}

.operands {
  width: 95%;
  margin: 0;
  padding: 0 5% 0 0;
  display: inline-block;
  background-color: #666;
  
  text-align: right;
}

#operandRemembered {
  height: 2rem;
  color: #ccc;
}

#operandShown {
  height: 4rem;
  font-size: 2.5rem;
  color: white;
}

#hidden {
  color: #666;
}
